# Set the default behavior, in case people don't have core.autocrlf set.
* text false

*.res binary
*.RES binary
*.frx binary
*.exe binary
*.dll binary
*.ico binary
*.gif binary
*.ocx binary
*.tlb binary
*.ocx.bin binary
*.ism binary
*.bin binary
*.aps binary
*.ncb binary
*.exe.compat binary
*.ocx.compat binary
*.msi binary
*.zip binary
*.pdf binary
*.7z binary
*.xls binary
*.xlsx binary
*.doc binary
*.dox binary
*.docx binary
*.odt binary
*.ppt binary
*.lnk binary
*.chm binary
*.hlp binary
*.chi binary
*.gif binary
*.jpg binary
*.gif binary
*.bmp binary
*.png binary
*.ico binary
*.cgi binary
*.wav binary
*.syn binary
*.sys binary
*.qbw binary
*.rdp binary
*.pem binary
*.spc binary
*.pvk binary
*.pfx binary
*.oca binary
*.ctx binary
*.xcf binary
*.chw binary
*.VBCSln binary
*.mdb binary